 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: blanchedalmond;
  font-family: sans-serif;
}

nav {
  position: relative;
  background-color: chocolate;
  padding: 10px 20px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 10%;
}

a {
  color: wheat;
  text-decoration: none;
}

.nav-button {
  background-color: aliceblue;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

@media (max-width: 768px) {
  ul {
    flex-direction: row;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
}

.left-content {
  flex: 1;
  text-align: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.right-content {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

.email-form {
  display: flex;
  margin-top: 10px;
}

input[type="email"] {
  padding: 8px;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 8px;
  cursor: pointer;
  background-color: chocolate;
  border: none;
  border-radius: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .left-content, .right-content {
    flex-basis: 100%;
    text-align: center;
  }
}

/* ESTILOS PARA LAS CARDS */

section {
  text-align: center;
  padding: 50px;
}

h2 {
  margin-bottom: 20px;
}