 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(237, 251, 251);
  font-family: sans-serif;
}

nav {
  position: relative;
  background-color: rgb(206, 174, 116);
  padding: 10px 20px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 10%;
}

a {
  color: white;
  text-decoration: none;
}

.nav-button {
  background-color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

@media (max-width: 768px) {
  ul {
    flex-direction: row;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
}

.left-content {
  flex: 1;
  text-align: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.right-content {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

.email-form {
  display: flex;
  margin-top: 10px;
}

input[type="email"] {
  padding: 8px;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 8px;
  cursor: pointer;
  background-color: rgb(206, 174, 116);
  border: none;
  border-radius: 5px;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .left-content, .right-content {
    flex-basis: 100%;
    text-align: center;
  }
}

/* ESTILOS PARA LAS CARDS */

section {
  text-align: center;
  padding: 50px;
}

h2 {
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(206, 174, 116);
  color: black;
  padding: 5px;
  width: 30%;
  box-shadow:0 2px 5px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card img {
  max-width: 100%;
  height: 100;
  border-radius: 20px;
}

.boton-carrito {
  border: none;
  cursor: pointer;
  padding: 2px;
  border-radius: 3px;
  margin-top: 3px;
  background-color: lemonchiffon;
}